@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: solid gray 1px;
}

td,
th {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e5e5e5;
}
