@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  font-family: arial, sans-serif;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  border: 1.5px solid #e5e5e5;
  border-radius: 5px;
}

td,
th {
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #e5e5e5;
}
